.tc-table ,.emp-table{
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.tc-table th, .tc-table td ,.emp-table th,.emp-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.tc-table th, .emp-table th {
  background-color: #f4f4f4;
}

.row {
  cursor: pointer;
}

.row:hover {
  background-color: #f5f5f5;
}

.expand-row td {
  background-color: #fafafa;
}

.details-box {
  padding: 15px;
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.details-box h4 {
  margin-bottom: 5px;
  color: #333;
}

.details-box pre {
  background: #f7f7f7;
  padding: 10px;
  border-radius: 6px;
  white-space: pre-wrap;
}
